*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Largetext:#52796f;
    --Smalltext:#84A98C;
    --Darkbackground:#201e1e;
}
/*--Body--*/
body{
    flex: 1;
    background-image: url(./images/pexels-pixabay-301717.jpg) ;
    line-height: 1;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    
}

/*--Header--*/
header{
    background-color: var(--Darkbackground);
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    
}

header h1{
    font-size:60px;
    width:100%;
    color: var(--Largetext);



}

/*--Navigation--*/
nav {
    
    text-align: right;
    flex-wrap: wrap;
    font-size: 28px;
    width: 100%;
    


}

nav a{
    text-decoration: none;
    color: var(--Smalltext);
    margin: 16px;
    margin-bottom: 20px;

}    

main{
    padding-bottom: 2.5rem;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}

.mountainimage{
    max-width:100%;
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
    background-size:contain;
    flex: 1 0 0;
}

/* About Me Section */

.about {
    display: flex;
    flex-direction: row;
    margin-bottom: -2px;

}

.aboutheader {
    max-width: 320px;
    max-height: 520px;
    margin-bottom: 2px;
    margin-top: 0;
    padding-left: 0px;
    padding-top: 0px;
    background-color: var(--Darkbackground);
    display: flex;
    flex-direction: column;
    text-align: center;

}

.aboutmetitle{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 6px;
    font-size: 50px;
    color: var(--Largetext);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    width:100%;
    background-size: contain;
    border-top-style: solid;
    border-top-color: #52796F;
    border-bottom-color: #52796F;
    border-bottom-style: solid;
}

.aboutcontent{

    padding:50px;
    width: 100%;
    margin-bottom: 2px;
    background-color: var(--Darkbackground);
    border-left-color: #52796F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-bottom-color: var(--Largetext);
   
}

.aboutcontent p{
    padding: 10px;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:50px;
    line-height: 1.5;
    width: 100%;
    background-color:var(--Darkbackground);
    color: var(--Smalltext);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Projects Section */
section.projects{
   width: 100%;
    max-height: 100%;
}

.projects-header1{
    width: 100%;
    height: 2px;
}

.projectstitle{
    width: 100%;
    height: 65px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 0px;
    background-color:var(--Darkbackground);
    color: var(--Largetext);
}

figure{
    display:grid;
    grid-template-columns: 50% 45%;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 86vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mainproject{
    display: flex;
    width: 100%;
    height: 100%;
}

.mainproject-a{
    position: relative;
    margin-bottom: 50px;

}

.mainproject-h3{
    position: absolute;
    bottom: 74px;
    left: 0;
    background-color: var(--Darkbackground);
    color: var(--Smalltext);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;

}


.smallproject{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.smallproject-a{
    position: relative;

}

.smallproject-h3{
    position: absolute;
    bottom: 18px;
    left: 0;
    background-color: var(--Darkbackground);
    color: var(--Smalltext);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

}

.imgprj1{
    border: var(--Darkbackground);
    border-style: groove;
    width: 100%;
    height: 90%;

}
.imgprj2,
.imgprj3{
    border: var(--Darkbackground);
    border-style: groove;
    width: 95%;
    height: 18.6rem;
    margin-bottom: 15px;

}
.imgprj4,
.imgprj5{

    border: var(--Darkbackground);
    border-style: groove;
    width: 95%;
    height: 18.6rem;
}


footer{
   background-color: var(--Darkbackground);
   margin-top: 800px;
   bottom: 0;
   width: 100%;
   height: 15rem;
   position: ;

}


.contactmetitle{
    text-align: center;
    color: var(--Largetext);
    border-bottom-style: solid;
    border-bottom-color: var(--Largetext);
    width: 100%;
    height: 65px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.contactlist{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--Smalltext);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 28px;
 
  }

.phonenumber,
.linkedin,
.email{
   margin-top: 40px;
   text-decoration: none;
}

@media screen and (max-width:992px){
    .about{
        flex-direction: row;
    }

@media screen and (max-width: 768px){
    .about{
        flex-direction: column;
    }
    .aboutheader{
        max-width: 768px;
        max-height:850px;
    }
@media screen and (max-width: 576px){
    header,
    nav,
    footer{
        text-align: center;
      
    }

    
}
}
}