*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Largetext:#52796f;
    --Smalltext:#84A98C;
    --Darkbackground:#201e1e;
}
/*--Body--*/
body{
    flex: 1;
    background-image: url(./images/pexels-pixabay-301717.jpg) ;
    line-height: 1;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/*--Header--*/
header{
    background-color: var(--Darkbackground);
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    width: 100%;
    
}

header h1{
    font-size:60px;
    width:310px;
    color: var(--Largetext);



}

/*--Navigation--*/
nav {
    
    display: inline;
    float: right;
    font-size: 28px;
    text-align: right;
    


}

nav a{
    text-decoration: none;
    color: var(--Smalltext);
    margin: 16px;
    display: inline-block;
    margin-bottom: 20px;

}    

main{
    padding-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.mountainimage{
    width:100%;
    display:flex;
    height: 800px;
    background-size:contain;
    flex: 1;
}

/* About Me Section */

.aboutmetitle{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 6px;
    font-size: 50px;
    color: var(--Largetext);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about {
    display: flex;
    flex-direction: row;
    margin-bottom: -2px;

}

.aboutheader {
    width: 320px;
    margin-bottom: 2px;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 10px;
    background-color: var(--Darkbackground);

}

.aboutheader img{
    width:100%;
    border-top-style: solid;
    border-top-color: #52796F;
    border-bottom-color: #52796F;
    border-bottom-style: solid;
    margin-left: 0;
    margin-bottom: -3px;

    
    
}

.aboutcontent{

    padding:50px;
    width: 100%;
    margin-bottom: 2px;
    background-color: var(--Darkbackground);
    border-left-color: #52796F;
    border-left-style: solid;
    border-bottom-style: solid;
    border-bottom-color: var(--Largetext);
   
}

.aboutcontent p{
    padding: 10px;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:50px;
    line-height: 1.5;
    width: 100%;
    background-color:var(--Darkbackground);
    color: var(--Smalltext);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Projects Section */
section.projects{
   width: 100%;
    max-height: 100%;
}

.projects-header1{
    width: 100%;
    height: 2px;
}

.projectstitle{
    width: 100%;
    height: 65px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 0px;
    background-color:var(--Darkbackground);
    color: var(--Largetext);
}

figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}

.imgprj1,
.imgprj2,
.imgprj3 {
    border: var(--Darkbackground);
    border-style: groove;
}

footer{
   background-color: var(--Darkbackground);
   margin-top: 800px;
   bottom: 0;
   width: 100%;
   height: 15rem;
   position: relative;

}


.contactmetitle{
    text-align: center;
    color: var(--Largetext);
    border-bottom-style: solid;
    border-bottom-color: var(--Largetext);
    width: 100%;
    height: 65px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.contactlist{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--Smalltext);
    display: flex;
    justify-content: space-around;
    font-size: 28px;
 
  }

.phonenumber,
.linkedin,
.email{
   margin-top: 40px;
   text-decoration: none;
}

@media screen and (max-width: 992px) {
    
    header,
    nav,
    main,
    footer {
        flex-direction: column;

    }
}